﻿@{
    ViewBag.Title = "Home Page";
}

<h1>Seja bem-vindo</h1>
<div>
    <div>
        <img src="~/Content/images/001.png" />
        <img src="~/Content/images/002.png" />
        <img src="~/Content/images/003.png" />
        <img src="~/Content/images/004.png" />
        <img src="~/Content/images/005.png" />
        <img src="~/Content/images/006.png" />
        <img src="~/Content/images/007.png" />
        <img src="~/Content/images/008.png" />
        <img src="~/Content/images/009.png" />
    </div>
    <p>Você deseja ser um mestre pokémon e para isso resolveu criar um sistema para cadastrar os pokémons e marcar quais já conseguiu pegar em sua jornada.</p>
    <p>Algumas funcionalidades já estão prontas e o HTML das telas estão criados, porém estáticos.</p>
    <p>Existe um banco de dados criado com duas tabelas: Pokémon e PokémonType. Seu objetivo é terminar as seguintes tarefas, indo da mais prioritária para a menos prioritária:</p>
    <ul>
        <li>
            1 - Transformar a tela de listagem de pokémons, lendo os dados do banco de dados, listando-os, e mantendo o mesmo layout já criado.
            <ul>
                <li><strong>Opcional</strong>: Se possível, transforme a listagem em uma partial view.</li>
            </ul>
        </li>
        <li>
            2 - Finalizar o cadastro de pokémons. A view já está criada, porém estática.
            <ul>
                <li>
                    Os tipos de Pokémon devem ser carregados do banco de dados (uma tabela já está criada e populada). Não é necessário criar uma tela para cadastrar tipos de Pokémon
                </li>
                <li>
                    O Pokémon deve ser salvo no banco de dados, com o caminho da imagem (há algumas imagens dentro do projeto).
                </li>
            </ul>
        </li>
        <li>
            3 - Implementar a funcionalidade de busca de pokémons. Usuário poderá digitar o nome e filtrar a listagem.
            <ul><li><strong>Opcional</strong>: Execute a busca utilizando javascript e ajax.</li></ul>
        </li>
        <li>
            4 - Implementar a funcionalidade de marcar um pokémon como obtido. Existe um botão para indicar se o usuário possui ou não o pokémon.
            <ul><li><strong>Opcional</strong>: Implemente utilizando javascript e ajax.</li></ul>
        </li>
        <li>
            5 - Implementar a funcionalidade de excluir um pokémon.
            <ul><li><strong>Opcional</strong>: Implemente utilizando javascript e ajax.</li></ul>
        </li>
    </ul>
    <p>A arquitetura do projeto está descrita abaixo. Siga-a!</p>
    <p><img src="~/Content/images/pokemonarch.jpg" /></p>


</div>
<div class="text-center">





    
</div>